body {
    /* background: url(https://c8.alamy.com/comp/2ATGP67/magical-scene-with-cherry-flowers-butterfly-and-magic-sparks-beautiful-nature-spring-background-photo-toned-in-light-blue-color-copy-space-for-tex-2ATGP67.jpg); */
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
}

h1 {
    color: black;
    font-family: cursive;
    font-size: 30vw;
}